# Virtual environments
.venv/
venv/

# Python
__pycache__/
*.py[cod]

# Testing & coverage
.pytest_cache/
.coverage
htmlcov/

# Linting & type-checking caches
.ruff_cache/
.mypy_cache/

# Environment variables
.env

# Build artifacts
dist/
build/
*.egg-info/
